In [1]:
import statsmodels as st
import scipy as sp
from scipy.spatial import distance
from scipy.spatial.distance import cityblock, euclidean, jaccard
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from math import *

from scipy.stats import pearsonr

In [2]:
df = pd.read_csv("iris.csv", index_col="Species")

In [3]:
df

                 Sepallength  Sepalwidth  Petallength  Petalwidth
Species
Iris setosa              4.9         3.0          1.4         0.2
Iris versicolor          5.6         2.5          3.9         1.1

In [4]:
euclidean(u=np.array(df.loc['Iris setosa']),v=df.loc['Iris versicolor'])

2.792848008753788

In [5]:
cityblock(u=np.array(df.loc['Iris setosa']),v=df.loc['Iris versicolor'])

4.6

In [4]:
distance.minkowski(u=df.loc['Iris setosa'],v=df.loc['Iris versicolor'], p=float('inf'))

2.5

In [6]:
df2 = pd.read_csv("q2.csv", index_col='Cases')
df2

       F1  F2  F3  F4  F5  F6  F7  F8  F9  F10
Cases
1       0   1   1   0   0   0   1   1   1    1
2       0   1   0   0   1   0   1   0   0    1

Symmetric binary variables

d = r + s / (q+r+s+t)

In [7]:
#4/10

In [8]:
distance.jaccard(u=df2.loc[1], v=df2.loc[2], w=None)

0.5714285714285714

In [9]:
4/7

0.5714285714285714

m = # of matches

p = total # of variables

d(i,j) = p-m/p

In [8]:
p = 6

m = 2

d = (6-2)/(6)

d

0.6666666666666666

In [10]:
distance.cosine(u=[0.8,6], v=[0.6,8], w=None)

0.0016637037120642573

In [12]:
distance.cosine(u=[0.8,32], v=[0.6,24], w=None)

0.0

In [13]:
distance.cosine(u=[0.8,-0.8], v=[0.6,-0.6], w=None)

1.1102230246251565e-16

In [14]:
distance.cosine(u=[0.8,16], v=[0.6,12], w=None)

0.0

In [15]:
distance.cosine(u=[0.8,32], v=[0.6,24], w=None)

0.0

In [16]:
distance.cosine(u=[0.8,0.8], v=[0.6,0.7], w=None)

0.002945514498418511

In [17]:
distance.cosine(u=[0.8,6], v=[0.6,8], w=None)

0.0016637037120642573

In [18]:
# Define the documents

In [19]:
text1 = 'one sees clearly only with the heart anything essential is invisible to the eyes'
text2 = 'let my soul smile through my heart and my heart smile through my eyes that I may scatter rich smiles in sad hearts'
    
document = [text1, text2]

In [21]:
text1= 'all grown-ups were once children but only few of them remember it'
text2= 'all children should be very understanding of grown-ups'

document = [text1, text2]

In [22]:
# Create the Document Term Matrix
count_vectorizer = CountVectorizer(stop_words='english')
count_vectorizer = CountVectorizer()
sparse_matrix = count_vectorizer.fit_transform(document)

In [23]:
doc_term_matrix = sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names(), 
                  index=['text1', 'text2'])
df

,all,be,but,children,few,grown,it,of,once,only,remember,should,them,understanding,ups,very,were
text1,1,0,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1
text2,1,1,0,1,0,1,0,1,0,0,0,1,0,1,1,1,0

In [24]:
cosine_similarity(X=df)

array([[1.        , 0.46225016],
       [0.46225016, 1.        ]])

In [29]:
df3 = pd.read_csv("iris2.csv", index_col="Feature")
df3

         Sepallength  Petallength
Feature
Case 1           6.9          3.1
Case 2           6.7          3.1
Case 3           6.9          3.1
Case 4           5.8          2.7
Case 5           6.8          3.2

In [30]:
df3.corr()

             Sepallength  Petallength
Sepallength     1.000000     0.952565
Petallength     0.952565     1.000000

In [32]:
pearsonr(x=df3.Sepallength, y=df3.Petallength)

(0.9525646095858078, 0.012313261034946137)

In [25]:
df3 = pd.read_csv("iris3.csv", index_col="Feature")
df3

         Sepallength  Sepalwidth
Feature
Case 1           5.1         3.5
Case 2           4.9         3.0
Case 3           4.7         3.2
Case 4           4.6         3.1
Case 5           5.0         5.4

In [26]:
df3.corr()

             Sepallength  Sepalwidth
Sepallength     1.000000    0.479113
Sepalwidth      0.479113    1.000000

In [28]:
pearsonr(x=df3.Sepallength, y=df3.Sepalwidth)

(0.4791134760411675, 0.41419030450062366)