In [1]:
from pyvis.network import Network
import pandas as pd

In [2]:
df = pd.read_csv("dp.csv")

In [3]:
df

       index  Ben   Kate   Thinh  Jorge  Alfredo  Francisco  Olivia  Chris
0        Ben     0      0      3      3        7          9       3      5
1       Kate     2      0      7      6        8          8       1      6
2      Thinh     7      7      0      1        5          9       8      9
3      Jorge     4      3      0      0        5          0       2      3
4    Alfredo     8      1      3      3        0          7       0      1
5  Francisco     9      9      0      4        7          0       2      7
6     Olivia     2      0      0      4        5          5       0      8
7      Chris     4      1      4      9        8          1       1      0

In [4]:
net = Network(notebook=True, height='700px', width='700px')

In [5]:
net.add_node(1, label="Ben", color="black")
net.add_node(2, label="Kate", color="red")
net.add_node(3, label="Thinh", color="yellow")
net.add_node(4, label="Jorge", color="green")
net.add_node(5, label="Alfredo", color="blue")
net.add_node(6, label="Francisco", color="grey")
net.add_node(7, label="Olivia", color="orange")
net.add_node(8, label="Chris", color="purple")

In [6]:
net.add_edges([(1,2,2),(1,3,7),(1,4,4),(1,5,8),(1,6,9),(1,7,2),(1,8,1)]) #Ben
net.add_edges([(2,1,0),(2,3,7),(2,4,3),(2,5,1),(2,6,9),(2,7,0),(2,8,1)]) #Kate
net.add_edges([(3,1,3),(3,2,7),(3,4,0),(3,5,3),(3,6,0),(3,7,0),(3,8,4)]) #Thinh
#net.add_edges([(4,1,0),(4,2),(4,3),(4,5,),(4,6,),(4,7,0),(4,8,1)])
#net.add_edges([(5,1,),(5,2,),(5,3),(5,4),(5,6),(5,7),(5,8,)])

In [7]:
net.repulsion(node_distance=200, spring_length=500)

In [8]:
net.show("nodes.html")

In [9]:
# net = Network(notebook=True)
# net.add_nodes([1, 2], label=['Alex', 'Carthy'])
# net.show('list_of_nodes.html')