## Natural Language Processing Template

***

## Project Description

## Data Dictionary

| Field          | Description                                                                           |
|----------------|---------------------------------------------------------------------------------------|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|

## Summary

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import json
import random
# import re
# import string

#sets the default autosave frequency in seconds
%autosave 60

# import wordcloud
# from wordcloud import WordCloud, ImageColorGenerator

# SPACY
#import spacy
#from spacy.lang.en.stop_words import STOP_WORDS as stopwords

# NLTK
# import nltk
# from nltk.tokenize import word_tokenize
# from nltk.corpus import stopwords, wordnet
# from nltk.stem import WordNetLemmatizer, PorterStemmer, SnowballStemmer
# from nltk.probability import FreqDist
# from nltk.util import pad_sequence
# from nltk.util import bigrams
# from nltk.util import ngrams
# from nltk.util import everygrams
# from nltk.lm.preprocessing import pad_both_ends
# from nltk.lm.preprocessing import flatten
# from nltk.lm import MLE
# from nltk.lm.preprocessing import padded_everygram_pipeline

# import textblob
# from textblob import TextBlob

# PyCaret
#from pycaret.nlp import *


pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

In [ ]:
business = pd.read_json("yelp_academic_dataset_business.json", lines=True)
business

In [ ]:
buss2 = business.sample(n=1000, random_state=0)
buss2

In [ ]:
buss2.reset_index(inplace=True, drop=True)

In [ ]:
buss2

In [ ]:
buss2.to_csv("business.csv", index=False)

In [2]:
checkin = pd.read_json("yelp_academic_dataset_checkin.json", lines=True)

In [3]:
checkin

                                            checkin_info     type             business_id
0      {'3-4': 1, '13-5': 1, '6-6': 1, '14-5': 1, '14...  checkin  JwUE5GmEO-sH1FuwJgKBlQ
1      {'9-3': 1, '12-5': 1, '15-3': 1, '15-5': 1, '7...  checkin  uGykseHzyS5xAMWoN6YUqA
2      {'16-3': 1, '15-3': 2, '15-5': 1, '15-4': 1, '...  checkin  LRKJF43s9-3jG9Lgx4zODg
3                      {'11-4': 1, '10-6': 1, '15-6': 1}  checkin  RgDg-k9S5YD_BaxMckifkg
4                       {'14-5': 1, '10-5': 1, '7-5': 1}  checkin  95p9Xg358BezJyk1wqzzyg
...                                                  ...      ...                     ...
31612  {'15-0': 2, '15-5': 4, '23-0': 1, '15-6': 1, '...  checkin  OEUIE8VBa1BbBfr5EPcTOA
31613  {'20-2': 2, '14-1': 2, '15-1': 1, '19-4': 1, '...  checkin  yZXEELxi8KMwzXCHP345GQ
31614  {'20-0': 1, '20-3': 1, '17-3': 1, '18-5': 1, '...  checkin  uUsfpN81JCMKyH6c0D0bTg
31615  {'0-2': 1, '20-1': 1, '19-1': 2, '19-2': 1, '1...  checkin  nYer89hXYAoddMEKTxw7kA
31616  {'15-1': 1, '20-3': 1, '19-6': 1, '22-5': 1, '...  checkin  BMjggIgOghBMEXPo8q7q3w

[31617 rows x 3 columns]

In [4]:
checkin2 = checkin.sample(n=1000, random_state=0)
checkin2

                                            checkin_info     type             business_id
7648         {'0-4': 1, '17-4': 1, '16-4': 1, '20-6': 1}  checkin  2k3ou0yMLH1sPwomZ2JRZg
2835   {'20-1': 1, '8-3': 3, '13-5': 1, '8-5': 2, '13...  checkin  rfAifR-peeyLh3-deq-G4A
24537  {'9-4': 1, '13-4': 1, '15-6': 1, '16-3': 2, '1...  checkin  -0D_CYhlD2ILkmLR0pBmnA
5306   {'20-1': 5, '23-6': 1, '16-0': 4, '15-4': 3, '...  checkin  fEX1IcPNrhJAdwk4DgyVVw
4541   {'15-1': 5, '15-0': 3, '15-3': 3, '15-2': 4, '...  checkin  GQ6bCvYZxdGY6ZQyeZFeVg
...                                                  ...      ...                     ...
30350  {'9-1': 1, '9-0': 1, '9-2': 1, '9-4': 1, '7-3'...  checkin  j7z8DPFnNW0qsJZVIalw2g
809    {'16-0': 3, '10-5': 3, '15-4': 1, '22-5': 2, '...  checkin  fVgrpVyp-nPLTac9YIjTug
26324  {'22-5': 1, '22-0': 1, '19-5': 1, '19-4': 1, '...  checkin  ZShnwF5baLo48wM3TQe0lA
19792  {'13-5': 2, '15-5': 2, '17-2': 1, '16-4': 1, '...  checkin  A8RbfOZf9QdxU4thO7kdcg
13904  {'17-0': 1, '16-0': 1, '13-4': 2, '18-0': 2, '...  checkin  eI8--myDKrYmcFWR1YLJcA

[1000 rows x 3 columns]

In [5]:
checkin2.reset_index(inplace=True, drop=True)

In [6]:
checkin2

                                          checkin_info     type             business_id
0          {'0-4': 1, '17-4': 1, '16-4': 1, '20-6': 1}  checkin  2k3ou0yMLH1sPwomZ2JRZg
1    {'20-1': 1, '8-3': 3, '13-5': 1, '8-5': 2, '13...  checkin  rfAifR-peeyLh3-deq-G4A
2    {'9-4': 1, '13-4': 1, '15-6': 1, '16-3': 2, '1...  checkin  -0D_CYhlD2ILkmLR0pBmnA
3    {'20-1': 5, '23-6': 1, '16-0': 4, '15-4': 3, '...  checkin  fEX1IcPNrhJAdwk4DgyVVw
4    {'15-1': 5, '15-0': 3, '15-3': 3, '15-2': 4, '...  checkin  GQ6bCvYZxdGY6ZQyeZFeVg
..                                                 ...      ...                     ...
995  {'9-1': 1, '9-0': 1, '9-2': 1, '9-4': 1, '7-3'...  checkin  j7z8DPFnNW0qsJZVIalw2g
996  {'16-0': 3, '10-5': 3, '15-4': 1, '22-5': 2, '...  checkin  fVgrpVyp-nPLTac9YIjTug
997  {'22-5': 1, '22-0': 1, '19-5': 1, '19-4': 1, '...  checkin  ZShnwF5baLo48wM3TQe0lA
998  {'13-5': 2, '15-5': 2, '17-2': 1, '16-4': 1, '...  checkin  A8RbfOZf9QdxU4thO7kdcg
999  {'17-0': 1, '16-0': 1, '13-4': 2, '18-0': 2, '...  checkin  eI8--myDKrYmcFWR1YLJcA

[1000 rows x 3 columns]

In [7]:
#checkin2.to_csv("checkin.csv", index=False)

In [9]:
review = pd.read_json("yelp_academic_dataset_review.json", lines=True)

In [10]:
review

                                        votes                 user_id               review_id  stars       date                                               text    type             business_id
0        {'funny': 0, 'useful': 2, 'cool': 1}  Xqd0DzHaiyRqVH3WRG7hzg  15SdjuK7DmYqUAj6rjGowg      5 2007-05-17  dr. goldberg offers everything i look for in a...  review  vcNAWiLM4dR7D2nwwJ7nCA
1        {'funny': 0, 'useful': 2, 'cool': 0}  H1kH6QZV7Le4zqTRNxoZow  RF6UnRTtG7tWMcrO2GEoAg      2 2010-03-22  Unfortunately, the frustration of being Dr. Go...  review  vcNAWiLM4dR7D2nwwJ7nCA
2        {'funny': 0, 'useful': 1, 'cool': 1}  zvJCcrpm2yOZrxKffwGQLA  -TsVN230RCkLYKBeLsuz7A      4 2012-02-14  Dr. Goldberg has been my doctor for years and ...  review  vcNAWiLM4dR7D2nwwJ7nCA
3        {'funny': 0, 'useful': 0, 'cool': 0}  KBLW4wJA_fwoWmMhiHRVOA  dNocEAyUucjT371NNND41Q      4 2012-03-02  Been going to Dr. Goldberg for over 10 years. ...  review  vcNAWiLM4dR7D2nwwJ7nCA
4        {'funny': 0, 'useful': 2, 'cool': 1}  zvJCcrpm2yOZrxKffwGQLA  ebcN2aqmNUuYNoyvQErgnA      4 2012-05-15  Got a letter in the mail last week that said D...  review  vcNAWiLM4dR7D2nwwJ7nCA
...                                       ...                     ...                     ...    ...        ...                                                ...     ...                     ...
1125453  {'funny': 0, 'useful': 1, 'cool': 0}  lhMo-dGq0V2iKqBIiwUJSg  eujuvkGqy2ssZ9zjdPJrMA      5 2010-08-11  Located at the bottom of Lauriston Place, this...  review  BVxlrYWgmi-8TPGMe6CTpg
1125454  {'funny': 2, 'useful': 1, 'cool': 1}  TTrzXCtB2MZA8Azw56bRlw  vFA5KXUGEH-oMcM6WTC-8w      5 2012-06-15  I love this place! I think the staff struggle ...  review  BVxlrYWgmi-8TPGMe6CTpg
1125455  {'funny': 0, 'useful': 2, 'cool': 1}  rtS7mDof5d-cEPBsmVuUJw  0sVK4VUxvj3cy78W0DlvWQ      3 2013-09-17  Perfect little shop to go to if you want to pi...  review  BVxlrYWgmi-8TPGMe6CTpg
1125456  {'funny': 1, 'useful': 1, 'cool': 1}  tZs84cKAUSOtP_nAiSdreQ  Nx88b_tCsP7Oja3PvhR5tQ      4 2013-09-18  I visit here once or twice a month. Just to ge...  review  BVxlrYWgmi-8TPGMe6CTpg
1125457  {'funny': 0, 'useful': 1, 'cool': 0}  LfnB4N7SVSAIPOM3If_kDA  p2KCsYuLHDtXqh1BpR9dGQ      3 2013-12-17  I like this place to pick up a few odds and en...  review  BVxlrYWgmi-8TPGMe6CTpg

[1125458 rows x 8 columns]

In [11]:
review2 = review.sample(n=1000, random_state=0)
review2

                                        votes                 user_id               review_id  stars       date                                               text    type             business_id
446174  {'funny': 7, 'useful': 10, 'cool': 8}  du6KeE54IFbPiXpU3LOd1g  nSFIRge1aJCMcwUqlaF-0g      5 2010-08-01  I have a secret and it's a blockbuster!\n\nI k...  review  De5urGVv1kkiKVJ9bvlQ6w
644190   {'funny': 1, 'useful': 3, 'cool': 0}  uZHynuKHcdM-VSa5yUHrtw  OkAX8ATtZIJvpoOHFIFeQg      5 2009-09-09  I don't understand why there aren't much revie...  review  3KAfAz5xzjop5RmyYLW4Sg
858736   {'funny': 0, 'useful': 0, 'cool': 0}  SEDJTWEzMdqp7UsS1W3KXw  LphhvJCa9sLopZfO6CbpTw      3 2013-11-17  Had the ham and cheese and it was good but def...  review  DBoebGeuz91QAP3tSFYs6w
62181    {'funny': 0, 'useful': 0, 'cool': 0}  5O4x5KS4hpQj0q21-Uh0WQ  iALLfzVXz47QlWUOf3yT-g      5 2012-05-18  My review concerns the store, in general - Not...  review  U5-VseaV5NWnuh5AW4acJg
298403   {'funny': 1, 'useful': 2, 'cool': 1}  0WRo9NFL10av3eQVMR4Egg  TGJDMSIyeJJvtsNhWfGBzQ      3 2013-10-07  The "check in" area is very confusing. Signs d...  review  6LM_Klmp3hOP0JmsMCKRqQ
...                                       ...                     ...                     ...    ...        ...                                                ...     ...                     ...
245852   {'funny': 0, 'useful': 1, 'cool': 0}  VsGlXCCjzsKyuel6Gpu-7A  XnT8wW2plUguUaSK10uaUA      5 2011-08-09  Ever since my beloved Bollywood seemed to take...  review  gkWEjZIVcrUerEzed6IKpg
947522   {'funny': 0, 'useful': 0, 'cool': 0}  ye_oNq4eYVk4TCSd_3zF6Q  A7CpCK7jLJ7hq2AErfbODA      5 2012-09-07  Went this past Sunday for brunch. Got the bisc...  review  ZEdaJ8mcMpPiFWgDuSPqeA
674846   {'funny': 1, 'useful': 3, 'cool': 1}  BMQdK1kdXCiDTaeaIYxmew  oEBJagUk9bMwhdaZ_dPAOQ      3 2012-02-28  I was really hoping the Aria would impress me ...  review  JpHE7yhMS5ehA9e8WG_ETg
380385   {'funny': 6, 'useful': 4, 'cool': 5}  MX55FPej15dW5n2P4sr2Aw  vkGRZWE3PXNdBUgs4K4vvg      2 2011-04-18  Let's be honest folks, you saw this place on y...  review  xfwRO04KbAPw_zRotCfWQQ
459509   {'funny': 0, 'useful': 0, 'cool': 0}  PxiR8eWNLqN1RWLqMG8GCw  lsyLnmqsfPuEub7mOpg4vg      4 2010-12-02  I am a new coffee drinker and typically visit ...  review  LIOQh6eCJUPyj4ixIE-I9A

[1000 rows x 8 columns]

In [12]:
review2.reset_index(inplace=True, drop=True)

In [13]:
review2

                                     votes                 user_id               review_id  stars       date                                               text    type             business_id
0    {'funny': 7, 'useful': 10, 'cool': 8}  du6KeE54IFbPiXpU3LOd1g  nSFIRge1aJCMcwUqlaF-0g      5 2010-08-01  I have a secret and it's a blockbuster!\n\nI k...  review  De5urGVv1kkiKVJ9bvlQ6w
1     {'funny': 1, 'useful': 3, 'cool': 0}  uZHynuKHcdM-VSa5yUHrtw  OkAX8ATtZIJvpoOHFIFeQg      5 2009-09-09  I don't understand why there aren't much revie...  review  3KAfAz5xzjop5RmyYLW4Sg
2     {'funny': 0, 'useful': 0, 'cool': 0}  SEDJTWEzMdqp7UsS1W3KXw  LphhvJCa9sLopZfO6CbpTw      3 2013-11-17  Had the ham and cheese and it was good but def...  review  DBoebGeuz91QAP3tSFYs6w
3     {'funny': 0, 'useful': 0, 'cool': 0}  5O4x5KS4hpQj0q21-Uh0WQ  iALLfzVXz47QlWUOf3yT-g      5 2012-05-18  My review concerns the store, in general - Not...  review  U5-VseaV5NWnuh5AW4acJg
4     {'funny': 1, 'useful': 2, 'cool': 1}  0WRo9NFL10av3eQVMR4Egg  TGJDMSIyeJJvtsNhWfGBzQ      3 2013-10-07  The "check in" area is very confusing. Signs d...  review  6LM_Klmp3hOP0JmsMCKRqQ
..                                     ...                     ...                     ...    ...        ...                                                ...     ...                     ...
995   {'funny': 0, 'useful': 1, 'cool': 0}  VsGlXCCjzsKyuel6Gpu-7A  XnT8wW2plUguUaSK10uaUA      5 2011-08-09  Ever since my beloved Bollywood seemed to take...  review  gkWEjZIVcrUerEzed6IKpg
996   {'funny': 0, 'useful': 0, 'cool': 0}  ye_oNq4eYVk4TCSd_3zF6Q  A7CpCK7jLJ7hq2AErfbODA      5 2012-09-07  Went this past Sunday for brunch. Got the bisc...  review  ZEdaJ8mcMpPiFWgDuSPqeA
997   {'funny': 1, 'useful': 3, 'cool': 1}  BMQdK1kdXCiDTaeaIYxmew  oEBJagUk9bMwhdaZ_dPAOQ      3 2012-02-28  I was really hoping the Aria would impress me ...  review  JpHE7yhMS5ehA9e8WG_ETg
998   {'funny': 6, 'useful': 4, 'cool': 5}  MX55FPej15dW5n2P4sr2Aw  vkGRZWE3PXNdBUgs4K4vvg      2 2011-04-18  Let's be honest folks, you saw this place on y...  review  xfwRO04KbAPw_zRotCfWQQ
999   {'funny': 0, 'useful': 0, 'cool': 0}  PxiR8eWNLqN1RWLqMG8GCw  lsyLnmqsfPuEub7mOpg4vg      4 2010-12-02  I am a new coffee drinker and typically visit ...  review  LIOQh6eCJUPyj4ixIE-I9A

[1000 rows x 8 columns]

In [14]:
#review2.to_csv("review.csv", index=False)

In [2]:
tip = pd.read_json("yelp_academic_dataset_tip.json", lines=True)

In [3]:
tip

                       user_id                                               text             business_id  likes       date type
0       Vefj29mjork1DLhALLNAsg  Great food, huge portions and a gift shop and ...  JwUE5GmEO-sH1FuwJgKBlQ      0 2012-05-16  tip
1       Bbm6c5CHf5IJG5ju0ozXZQ            Great bakery. Great country type diner.  JwUE5GmEO-sH1FuwJgKBlQ      0 2014-03-29  tip
2       IORZRljfUkedhh1SGMthTA               The desserts are enormous..dear god.  JwUE5GmEO-sH1FuwJgKBlQ      0 2011-09-29  tip
3       Bdmk6RQUP0sbXA_V9WiI3Q  There are too many menu items here. Order some...  uGykseHzyS5xAMWoN6YUqA      0 2013-07-20  tip
4       fjGh54rTqVn0ECKroIXwYQ  Really good place, just a mile off the highway...  uGykseHzyS5xAMWoN6YUqA      0 2013-08-03  tip
...                        ...                                                ...                     ...    ...        ...  ...
403205  ZVkaYRCTFSSt-Ch9uwigOQ                              Pizza and salad time!  BMjggIgOghBMEXPo8q7q3w      0 2014-07-27  tip
403206  uOdEsOgPW48Ky4j8U8CEcw               Plus you can get a haircut next door  BMjggIgOghBMEXPo8q7q3w      0 2014-07-29  tip
403207  X76Ja2Np2Dvy0cDTE03drw  Its Glat Kosher Pizza just like in NY!!! Lovee...  BMjggIgOghBMEXPo8q7q3w      0 2014-07-20  tip
403208  rtS7mDof5d-cEPBsmVuUJw                            They do sell Sake here!  BVxlrYWgmi-8TPGMe6CTpg      1 2013-09-17  tip
403209  rtS7mDof5d-cEPBsmVuUJw  Place has a very limited selection because its...  BVxlrYWgmi-8TPGMe6CTpg      0 2013-09-17  tip

[403210 rows x 6 columns]

In [4]:
tip2 = tip.sample(n=1000, random_state=0)
tip2

                       user_id                                               text             business_id  likes       date type
109902  Nzmvsr9_SO404454o6PCEg                               Dessert!! Creperie!!  6qXQQOWdUZiJmWVqkWB-3w      0 2012-07-06  tip
346465  qmdRG4PGjDEXazZYuFdDtA                                       Great people  uoLKwJeH1rWeqUC0D1La2g      0 2012-09-20  tip
285243  NvDR3SPVPXrDB_dbKuGoWA  This place I'd packed, everybody had the same ...  Vn8qcaX64fkl8vByCsSvIg      0 2012-12-21  tip
39612   2xZapd4o31tuEqXjNhM6Gw  I love this place.... living in LA, this is my...  UKKz4HdQC0aH9j5lLi4u8Q      0 2014-01-28  tip
291031  hSmSJ4uXV9FUkEXnkMIApw                          Terrible service as usual  4Pqav1bZ2Z20o1BaNtg97A      0 2013-09-24  tip
...                        ...                                                ...                     ...    ...        ...  ...
250696  WbDrLkoa5kEi4WnpHhIf8w                                   Orgone door at 8  ME8gcI4BXjmFq7zEMtk3ag      0 2012-08-10  tip
152839  oJ2YeNhM_lxJitWYZxgQXw  Friendly and helpful staff. Reasonable array o...  SOvF2IM9LwgBYi1uGnUwrQ      0 2013-03-03  tip
305933  reeuZ_MMPTSsQgMKx6Z82g                               Walleye is excellent  yogx7L-udynx33Shu39yug      0 2012-02-10  tip
260732  XW8B9JAn5XpC6FWuMbditQ  The veggie burger is CRAZY awesome. So delicio...  cRBQ5FcRfNZT3_l9KKfOgA      0 2013-05-04  tip
131829  DCCLyQR-DHa0qNMFqh1Yeg                           Free food tastes better.  3q5THOSYu39imB8tGaieCQ      0 2011-10-24  tip

[1000 rows x 6 columns]

In [5]:
tip2.reset_index(inplace=True, drop=True)

In [6]:
tip2

                    user_id                                               text             business_id  likes       date type
0    Nzmvsr9_SO404454o6PCEg                               Dessert!! Creperie!!  6qXQQOWdUZiJmWVqkWB-3w      0 2012-07-06  tip
1    qmdRG4PGjDEXazZYuFdDtA                                       Great people  uoLKwJeH1rWeqUC0D1La2g      0 2012-09-20  tip
2    NvDR3SPVPXrDB_dbKuGoWA  This place I'd packed, everybody had the same ...  Vn8qcaX64fkl8vByCsSvIg      0 2012-12-21  tip
3    2xZapd4o31tuEqXjNhM6Gw  I love this place.... living in LA, this is my...  UKKz4HdQC0aH9j5lLi4u8Q      0 2014-01-28  tip
4    hSmSJ4uXV9FUkEXnkMIApw                          Terrible service as usual  4Pqav1bZ2Z20o1BaNtg97A      0 2013-09-24  tip
..                      ...                                                ...                     ...    ...        ...  ...
995  WbDrLkoa5kEi4WnpHhIf8w                                   Orgone door at 8  ME8gcI4BXjmFq7zEMtk3ag      0 2012-08-10  tip
996  oJ2YeNhM_lxJitWYZxgQXw  Friendly and helpful staff. Reasonable array o...  SOvF2IM9LwgBYi1uGnUwrQ      0 2013-03-03  tip
997  reeuZ_MMPTSsQgMKx6Z82g                               Walleye is excellent  yogx7L-udynx33Shu39yug      0 2012-02-10  tip
998  XW8B9JAn5XpC6FWuMbditQ  The veggie burger is CRAZY awesome. So delicio...  cRBQ5FcRfNZT3_l9KKfOgA      0 2013-05-04  tip
999  DCCLyQR-DHa0qNMFqh1Yeg                           Free food tastes better.  3q5THOSYu39imB8tGaieCQ      0 2011-10-24  tip

[1000 rows x 6 columns]

In [7]:
#tip2.to_csv("tip.csv", index=False)

In [8]:
user = pd.read_json("yelp_academic_dataset_user.json", lines=True)

In [9]:
user

       yelping_since                                       votes  review_count         name                 user_id                                            friends  fans  average_stars  type                                        compliments elite
0            2012-02        {'funny': 1, 'useful': 5, 'cool': 0}             6          Lee  qtrmBGNqCvupHMHL_bKFgQ                                                 []     0           3.83  user                                                 {}    []
1            2011-12        {'funny': 0, 'useful': 0, 'cool': 0}             1      Matthew  MWhR9LvOdRbqtu1I_DRFBg  [8Y2EN4XNNhnwssuPb31sJg, A1jPleJ99kXZ3t9wQ3np-...     0           5.00  user                                                 {}    []
2            2010-09      {'funny': 5, 'useful': 20, 'cool': 11}            22      Jasmine  0vscrHoajVRa1Yk19XWdwA  [8wK7_qZ18mokBxw5zdSo9w, AdxHwIZAOhY4zNXspg6IT...     1           5.00  user  {'funny': 1, 'cool': 2, 'writer': 1, 'photos':...    []
3            2012-01        {'funny': 0, 'useful': 1, 'cool': 0}             1       Harley  5Xh4Qc3rxhAQ_NcNtxLssQ                                                 []     0           1.00  user                                                 {}    []
4            2011-08        {'funny': 2, 'useful': 6, 'cool': 1}             6        Tyler  4dJLZvpYRcjQ6qDR5i7WsA                                                 []     0           4.33  user                                                 {}    []
...              ...                                         ...           ...          ...                     ...                                                ...   ...            ...   ...                                                ...   ...
252893       2009-09       {'funny': 7, 'useful': 21, 'cool': 8}            14         Rowe  cE0rXbH0FKJbE998wUln7g                                                 []     0           3.67  user                             {'cool': 2, 'more': 1}    []
252894       2011-07        {'funny': 0, 'useful': 3, 'cool': 0}             1        Ronny  xgta1nJdBd1UW4kCVdnGCg                                                 []     0           2.00  user                                                 {}    []
252895       2011-01        {'funny': 0, 'useful': 0, 'cool': 0}             6  Fiana Sachi  qQBLVT7eJKD1aC2KoY4fSw                                                 []     0           3.83  user                                                 {}    []
252896       2009-05  {'funny': 258, 'useful': 464, 'cool': 203}           493          Art  Tm1fpC3UAvGIe5EiXeOzyw  [F9T6m1YdRFreyKDufcyoOQ, HW-cL93tvU7qng1sZueKW...     9           3.91  user  {'funny': 2, 'plain': 5, 'writer': 4, 'note': ...    []
252897       2012-02      {'funny': 14, 'useful': 12, 'cool': 5}            21         Eric  bb2EnFGGEK9nUoZ_peqmew                                                 []     0           3.47  user                                                 {}    []

[252898 rows x 11 columns]

In [10]:
user2 = user.sample(n=1000, random_state=0)
user2

       yelping_since                                    votes  review_count     name                 user_id                                            friends  fans  average_stars  type                                    compliments elite
28985        2014-02     {'funny': 0, 'useful': 0, 'cool': 0}             5    Ranay  ZvYEb1KzDH8QiXk6HrOZDQ                                                 []     0           3.40  user                                             {}    []
165299       2007-07   {'funny': 9, 'useful': 24, 'cool': 15}            38    Jenay  7jcslVY0t8dfqjaZx1UuyQ                                                 []     1           3.82  user  {'note': 2, 'cute': 2, 'cool': 1, 'plain': 3}    []
119313       2010-08     {'funny': 4, 'useful': 8, 'cool': 0}             5   Carrie  PlD-qcjhJg4fbZZLVVCs0w                                                 []     0           3.00  user                                    {'note': 1}    []
17808        2010-10  {'funny': 11, 'useful': 67, 'cool': 12}            45      Ess  lNrv5EDihOM0xU31VV_I2g                                                 []     1           3.62  user                                    {'more': 1}    []
181008       2012-07     {'funny': 0, 'useful': 2, 'cool': 0}             1  Brandon  8BIWPgRVf4ek0ZSOuqqE2Q   [Hkynh8Z7Ua1MY4x11GeSvQ, S4h6p1OtwiDcovuUBbcZ-A]     1           4.00  user                                    {'note': 1}    []
...              ...                                      ...           ...      ...                     ...                                                ...   ...            ...   ...                                            ...   ...
79378        2010-09     {'funny': 3, 'useful': 3, 'cool': 2}             9    Jared  OjAfptzuKSUClMseJWoARg  [2E3VOnjFWwYfRr48csXVOg, PIImcrC6KKrk9krkpY38U...     0           4.11  user                                  {'writer': 1}    []
214536       2013-08     {'funny': 2, 'useful': 1, 'cool': 0}             5      Per  bz7h5YR37ibMgdDZLR3VYQ   [kGgAARL2UmvCcTRfiscjug, NBvVQ9fIwAfFqyWbiMvSow]     0           3.60  user                                   {'funny': 1}    []
50605        2012-07     {'funny': 1, 'useful': 2, 'cool': 1}             6     Leon  G1riLIrhztOv3KqIBbiP_g                                                 []     0           3.40  user                                             {}    []
134196       2012-10     {'funny': 0, 'useful': 1, 'cool': 0}             4      Joe  sm3NUsdATzFXMDbQogAJlg                                                 []     0           3.00  user                                             {}    []
252147       2011-04     {'funny': 0, 'useful': 6, 'cool': 3}             7    Olive  tk7F-nWUGnAV8epoD47kiA                                                 []     0           4.00  user                                    {'more': 1}    []

[1000 rows x 11 columns]

In [11]:
user2.reset_index(inplace=True, drop=True)

In [12]:
user2

    yelping_since                                    votes  review_count     name                 user_id                                            friends  fans  average_stars  type                                    compliments elite
0         2014-02     {'funny': 0, 'useful': 0, 'cool': 0}             5    Ranay  ZvYEb1KzDH8QiXk6HrOZDQ                                                 []     0           3.40  user                                             {}    []
1         2007-07   {'funny': 9, 'useful': 24, 'cool': 15}            38    Jenay  7jcslVY0t8dfqjaZx1UuyQ                                                 []     1           3.82  user  {'note': 2, 'cute': 2, 'cool': 1, 'plain': 3}    []
2         2010-08     {'funny': 4, 'useful': 8, 'cool': 0}             5   Carrie  PlD-qcjhJg4fbZZLVVCs0w                                                 []     0           3.00  user                                    {'note': 1}    []
3         2010-10  {'funny': 11, 'useful': 67, 'cool': 12}            45      Ess  lNrv5EDihOM0xU31VV_I2g                                                 []     1           3.62  user                                    {'more': 1}    []
4         2012-07     {'funny': 0, 'useful': 2, 'cool': 0}             1  Brandon  8BIWPgRVf4ek0ZSOuqqE2Q   [Hkynh8Z7Ua1MY4x11GeSvQ, S4h6p1OtwiDcovuUBbcZ-A]     1           4.00  user                                    {'note': 1}    []
..            ...                                      ...           ...      ...                     ...                                                ...   ...            ...   ...                                            ...   ...
995       2010-09     {'funny': 3, 'useful': 3, 'cool': 2}             9    Jared  OjAfptzuKSUClMseJWoARg  [2E3VOnjFWwYfRr48csXVOg, PIImcrC6KKrk9krkpY38U...     0           4.11  user                                  {'writer': 1}    []
996       2013-08     {'funny': 2, 'useful': 1, 'cool': 0}             5      Per  bz7h5YR37ibMgdDZLR3VYQ   [kGgAARL2UmvCcTRfiscjug, NBvVQ9fIwAfFqyWbiMvSow]     0           3.60  user                                   {'funny': 1}    []
997       2012-07     {'funny': 1, 'useful': 2, 'cool': 1}             6     Leon  G1riLIrhztOv3KqIBbiP_g                                                 []     0           3.40  user                                             {}    []
998       2012-10     {'funny': 0, 'useful': 1, 'cool': 0}             4      Joe  sm3NUsdATzFXMDbQogAJlg                                                 []     0           3.00  user                                             {}    []
999       2011-04     {'funny': 0, 'useful': 6, 'cool': 3}             7    Olive  tk7F-nWUGnAV8epoD47kiA                                                 []     0           4.00  user                                    {'more': 1}    []

[1000 rows x 11 columns]

In [13]:
user2.to_csv("user.csv", index=False)